<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["name"].value;
            if (x.length < 3) {
                var z = document.getElementById("nameError");
                z.style.display = "block";
                return false;
            }

            var y = document.forms["myForm"]["price"].value;
            if (y == "") {
                alert("Price must be filled out");
                return false;
            }
        }
    </script>
    <script>
        function sendPostForm() {
            var xhttp = new XMLHttpRequest();
            var url = "/restForm";
            // var itemName = document.forms["restForm"]["name"].value;;
            // console.log("Item name: " + itemName)
            // var itemPrice = document.forms["restForm"]["peice"].value;
            // console.log("Item price: " + itemPrice)

            xhttp.open("PUT", url, true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            // xhttp.setRequestHeader("Content-type", "text/plain");
            xhttp.send("name=" + "&price=");
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log("Ok")
                    document.getElementById("responseText").innerHTML = this.responseText;
                }

                if (this.readyState == 4 && this.status == 400) {
                    console.log("Error");
                    document.getElementById("responseText").innerHTML = this.responseText;
                }
            };
        }
    </script>
</head>
<body class="container-fluid">
<h1>Welcome to velocity</h1>
<ul>
    #foreach( $item in $items )
        <li>$item.name $item.price</li>
    #end
</ul>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h1>Col md 6</h1>
        </div>
        <div class="col-md-6">
            <h1>Col md 6</h1>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <form name="myForm" action="/"
              onsubmit="return validateForm()" method="post">
            <p id="nameError" style="display:none">Min length 3</p>
            Name: <input type="text" name="name" required>
            Price: <input type="number" name="price" min="1" max="1000000" step="0.01" required>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <p id="responseText"></p>
        <div>
            <form name="restForm">
                Name: <input type="text" name="name" id="restFormItemName">
                Price: <input type="number" name="price" id="restFormItemPrice">
                <button onclick="sendPostForm()">Send</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>